<a href="https://colab.research.google.com/github/Sriharshitha842/DWDM_LAB/blob/main/DWDM_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Name : Sriharshitha Deepala**

# **Reg No : 19BCD7246**

# **Course Code : CSE4005**

# **Lab No : 01**

1.
Calculate income tax for the given income by adhering to the below rules

Taxable        Income	       Rate (%)

First          5,00,000	       0

Second         7,50,000	      10

Third          10,00,000	    20

Remaining                     30

In [2]:
n = int(input())
tax_payable = 0
if(n<=500000):
  tax_payable = 0
elif(n>500000 and n<=750000):
  tax_payable = (n-500000)*10/100
elif(n>750000 and n<=1000000):
  tax_payable = (n-500000)*10/100
  tax_payable= tax_payable+(n-750000)*20/100
else:
  tax_payable= tax_payable+(n-750000)*20/100
  tax_payable+= tax_payable+(n-1000000)*30/100
print(tax_payable)

1100000
170000.0

2.
Write a code to extract each digit from an integer, in the reverse order

Expected Output: For example, if the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [3]:
num = int(input())
rev = 0
while(num>0):
  a = num%10
  rev = rev*10+a
  num=num//10
print(rev)

345345345
543543543

3.
Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

Expected output:
15
55
75
150

In [15]:
lst=[]
n = int(input())
for i in range(0,n):
  a = int(input())
  lst.append(a)
print()
for j in range(0,n):
  if(lst[j]%5==0 and lst[j]<=150):
    print(lst[j])

11
12
15
32
42
55
75
122
132
150
180
200

15
55
75
150

4.
Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

Expected Output:

showEmployee("Ben", 9000)
showEmployee("Ben")
Should Produce:

Employee Ben salary is: 9000
Employee Ben salary is: 9000

In [16]:
def showEmployee(Name, Salary=9000):
  print("Employee", Name ,"salary is : ",Salary)
showEmployee(input(),int(input()))
showEmployee(input())

Ben
100000
Employee Ben salary is :  100000
Ben
Employee Ben salary is :  9000

5.
Count all lower case, upper case, digits, and special symbols from a given string
Given:

str1 = "P@#yn26at^&i5ve"

Expected Outcome:

Total counts of chars, digits,and symbols 

Chars = 8 
Digits = 3 
Symbol = 4

In [5]:
string = input()
char_count = 0
digit_count = 0
symbol_count = 0
for i in string:
        if i.isalpha():
            char_count += 1
        elif i.isdigit():
            digit_count += 1
        else:
            symbol_count += 1
print("total counts of chars, Digits, and symbols \n")
print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

P@#yn26at^&i5ve
total counts of chars, Digits, and symbols

Chars = 8 Digits = 3 Symbol = 4

6.
Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters
Given:

str1 = "English = 78 Science = 83 Math = 68 History = 65"

Expected Outcome:

sum is 294
average is 73.5

In [10]:
str1 = input()
str2 = str1.split(' ')
Sum = 0
count = 0
temp="0"
for i in str2:
  if i.isdigit():
    Sum = Sum + int(i)
    count+=1
print("sum is ",Sum)
print("average is ",Sum/count)

English = 78 Science = 83 Math = 68 History = 65
sum is  294
average is  73.5

7.
Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

For Example:

listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

Expected Output:

Element at odd-index positions from list one
[6, 12, 18]

Element at even-index positions from list two
[4, 12, 20, 28]

Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [11]:
lst1=[3, 6, 9, 12, 15, 18, 21]
lst2= [4, 8, 12, 16, 20, 24, 28]
print("Element at odd-index positions from list one \n",lst1[1::2])
print("Element at even-index positions from list two\n",lst2[0::2])
lst3 = lst1[1::2]+lst2[0::2]
print("Printing Final third list\n",lst3)

Element at odd-index positions from list one
 [6, 12, 18]
Element at even-index positions from list two
 [4, 12, 20, 28]
Printing Final third list
 [6, 12, 18, 4, 12, 20, 28]

8.
Given a two list of equal size create a set such that it shows the element from both lists in the pair
Expected Output:

First List  [2, 3, 4, 5, 6, 7, 8]

Second List  [4, 9, 16, 25, 36, 49, 64]

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [18]:
lst1 = [2, 3, 4, 5, 6, 7, 8]
print("First List ", lst1)
lst2 = [4, 9, 16, 25, 36, 49, 64]
print("Second List ", lst2)
sol = zip(lst1, lst2)
solution = set(sol)
print(solution)

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

9.
Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}

Expected Outcome: [47, 52, 44, 53, 54]

In [20]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}
speed_list = list()
for i in speed.values():
    if i not in speed_list:
        speed_list.append(i)
print(speed_list)

[47, 52, 44, 53, 54]

10.
Remove duplicate from a list and create a tuple and find the minimum and maximum number.
For Example:

sampleList = [87, 45, 41, 65, 94, 41, 99, 94]

Expected Outcome:

unique items [87, 45, 41, 65, 99]

tuple (87, 45, 41, 65, 99)

min: 41

max: 99

In [30]:
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
temp = []
for x in sampleList:
  if x not in temp:
    temp.append(x)
sampleList = temp
print(f'unique items : {temp}')
t = tuple(sampleList)
print("tuple ", t)
print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

unique items : [87, 45, 41, 65, 94, 99]
tuple  (87, 45, 41, 65, 94, 99)
Minimum number is:  41
Maximum number is:  99